# --------------------
# Frontend (React/Vite + Tailwind)
# --------------------
node_modules/
dist/
build/
.vite/
*.log

# --------------------
# Backend (Flask / Python)
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
env/
venv/
instance/

# Tokens / Secrets / Data
.garmin_tokens/
gpx_data

# --------------------
# Env files
# --------------------
.env
*.env
*.env.*

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# System files
# --------------------
.DS_Store
Thumbs.db